<style>
/* visa section */
.visa-yugo {
    padding: 42px 0 0;
}
.top-destination{
    
        color: #00224f;
        font-size: 25px;
        line-height: 25px;
        margin: 0 0 45px;
    }
</style>